---
import { Image } from "astro:assets";
import MaterialSymbolsMail from "../components/icon/MaterialSymbolsMail.astro";
import Phone from "../components/icon/Phone.astro";
import MenuIcon from "../components/icon/ManuIcon.astro"
import Close from "./icon/Close.astro";
import Menu from "./Menu"
interface Props {
  selected: string;
}
const { selected } = Astro.props;
---

<header
  class=" max-w-7xl mx-4 xl:mx-auto flex flex-col gap-y-4"
>
<div class=" mt-10 sm:mt-6 lg:mt-9"></div>
  <span class="hidden sm:flex flex-row gap-x-11">
    <div class="flex gap-4 text-white items-center">
      <MaterialSymbolsMail />
      <span class="font-josefin-sans font-light text-base text-white"
        >Info@youremail.com</span
      >
    </div>
    <div class="flex gap-4 text-white items-center">
      <Phone />
      <span class="font-josefin-sans font-light text-base text-white"
        >Info@youremail.com</span
      >
    </div>
  </span>
  <!-- Navbar -->
  <div class="grid grid-cols-6 lg:grid-cols-10 bg-white rounded h-10 sm:h-[60px]">

    <!-- Mobile Menu Button -->
    <div class="flex lg:hidden items-center col-span-2">
      <!-- <div class="menuIcon cursor-pointer">

        <MenuIcon class="mx-6 w-8 h-8"/>
      </div> -->
      <Menu  client:only="react"/>
    </div>

    <!-- Desktop Navbar Menu -->
    <nav class="px-12 hidden lg:block col-span-4">
      <ul
        class="flex items-center h-full font-semibold text-xl gap-10"
      >
        <li
          data-page={selected == "home"}
          class="data-[page]:text-royal-blue data-[page]:underline"
        >
        <a href="/">
          HOME
        </a>
        </li>
        <li data-page={selected == "about"} class="data-[page]:text-royal-blue data-[page]:underline">ABOUT</li>
        <li data-page={selected == "feature"} class="data-[page]:text-royal-blue data-[page]:underline">FEATURE</li>
      </ul>
    </nav>

    <!-- Logo -->
    <div id="Logo" class="flex justify-center items-center relative col-span-2">
      <span class="sr-only">logo of Appolly</span>
      <div
        class="px-2 md:px-4 lg:px-8 absolute -inset-y-2 md:-inset-y-4 flex items-center bg-white rounded-md"
      >
        <Image class={"w-20 h-3 md:w-full md:h-full"} src={"/Logo.svg"} alt={"Logo"} width="167" height="28" />
      </div>
    </div>

    <!-- Second Navbar Menu -->
    <div class="flex justify-end p-1 font-semibold text-xl gap-10 col-span-2 lg:col-span-4">
       <div class="hidden lg:flex justify-between items-center gap-10">
        <span class="">SCREENSHOT</span>
        <span data-page={selected == "blog"}  class="data-[page]:text-royal-blue data-[page]:underline">
          <a href="/blogs">
            BLOG
          </a>
        </span>
       </div>
       <button class="px-2 md:px-4 text-xs  md:text-xl text-white bg-royal-blue rounded">DOWNLOAD</button>
    </div>
  </div>
  <!-- Mobile Toggle Menu -->
  <div id="menu" class="absolute top-0 -left-[600px] duration-1000 transition-all lg:hidden flex flex-col items-start justify-between gap-5 bg-white w-1/2 pl-10 pt-6 pb-9 pr-6 rounded-br-xl z-30">
    <div class="w-full flex justify-end">
      <Close class="text-royal-blue close cursor-pointer"/>
    </div>
    <ul class="flex flex-col gap-6">
      <li class="cursor-pointer hover:text-royal-blue uppercase"><a href="/">HOME</a></li>
      <li class="cursor-pointer hover:text-royal-blue uppercase"><a href="/">About</a></li>
      <li class="cursor-pointer hover:text-royal-blue uppercase"><a href="/">Feature</a></li>
      <li class="cursor-pointer hover:text-royal-blue uppercase"><a href="/">screenshot</a></li>
      <li class="cursor-pointer hover:text-royal-blue uppercase"><a href="/blogs">blog</a></li>

    </ul>
  </div>
</header>
<script is:inline>
const menu = document.querySelector("#menu")?.classList
const toggleClasses =()=>{
  menu?.toggle("left-0")
  menu?.toggle("-left-[600px]")
}

document.querySelector(".menuIcon")?.addEventListener("click",toggleClasses)
document.querySelector(".close")?.addEventListener("click",toggleClasses)

</script>
