---
import Header from "../../components/Header.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
const Posts = await Astro.glob("./post/*.mdx");
---

<BlogLayout title="Blog">
  <div class="">
    {
      Posts.map((post) => (
        <div>
          <img class="w-full" src={post.frontmatter.imageURL} alt="" />
          <h2 class="text-4xl font-semibold uppercase mt-12 mb-[18px] px-2">
            {post.frontmatter.title}
          </h2>
          <p class="text-[#6C6C72] px-2">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Perferendis, vitae suscipit voluptatum ex animi quasi doloribus
            autem fugit aspernatur velit enim minima quibusdam impedit eum sed
            ipsam sapiente, at amet fugiat culpa, dolorem sit! Illo quas earum
            dolores blanditiis iure optio amet tempore autem consectetur, harum
            iusto doloremque quibusdam dicta, aperiam numquam officia voluptas
            quam aspernatur! Labore placeat minima quis.
          </p>
          <div class="pt-10 pb-[60px] px-2">
            <a href={post.url} class="text-royal-blue underline uppercase">
              Read more
            </a>
          </div>
        </div>
      ))
    }
  </div>
</BlogLayout>
